<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "encuesta/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Registro de Usuario</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">Nombre</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="Nombre" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Apellido</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Apellido" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Celular</label>
          {% render_field usuarioForm.mobile|attr:'required:true'  class="form-control" placeholder="Celular" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">Dirección</label>
          {% render_field usuarioForm.address|attr:'required:true'  class="form-control" placeholder="Dirección" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Username</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="password" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Foto de Perfil</label>
          {% render_field usuarioForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Registrar</button>
  </form>
</div>


<br><br>
{% include "encuesta/footer.html" %}
  </body>
</html>
